<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h3 class="col-lg-10 control-label">Choose the type and description of your columns</h3><br>
     <form class="form-horizontal" method="POST" action="units">
        {% for item in variable %}
         <div id="div1" class="form-group">
             <label for= "{{ item }}"  class="col-lg-4 control-label">{{item}}</label>
             <select id= "{{ item }}" name= "{{ item }}" class="selectpicker">
                    <option value="">Choose here</option>
                    <option value="Categorical Ordinal">Categorical Ordinal</option>
                    <option value="Categorical Nominal">Categorical Nominal</option>
                    <option value="Continuous">Continuous</option>
                    <option value="Identifier">Identifier</option>
             </select>
             <label for= "ncit_comment_{{ item }}"></label>
             <select id= "ncit_comment_{{ item }}" name= "ncit_comment_{{ item }}" class="selectpicker">
                    <option value="">Choose here</option>
                    <option value="Patient Identifier">Patient Identifier</option>
                    <option value="Age">Age</option>
                    <option value="Gender">Gender</option>
                    <option value="Weight">Weight</option>
                    <option value="Height">Height</option>
                    <option value="Smoking">Smoking</option>
                    <option value="Other">Other</option>
             </select>
             <label for= "comment_{{ item }}"></label>
                <input class="form-group" type="text" id="comment_{{ item }}" name="comment_{{ item }}" placeholder="If other, please specify" disabled='disabled'/><br>
             <script>
                $(document).ready(function () {
                   $("#ncit_comment_{{ item }}").change(function () {
                      if ($(this).find("option:selected").val() == "Other") {
                           $("#comment_{{ item }}").removeAttr("disabled")
                      } else {
                           $("#comment_{{ item }}").attr("disabled","disabled")
                      }
                   });
                });
             </script>
         </div>
        {% endfor %}

         <p><input type="submit" value="Submit"></p>
    </form>

</body>
</html>