{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" id="metadataUri" name="metadataUri" value="{{ metadataUri }}">
        <div class="row pt-3">
            <div class="col-12">
                <p class="h2">Upload data</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload data (*.csv)</label>
                    <input class="form-control" type="file" id="formFile" name="formFile" accept=".csv,.png">
                </div>
            </div>
            {% if errorMessage: %}
            <div class="col-12">
                <div class="alert alert-danger" id="task-status-wrapper" role="alert">
                    <div class="d-flex align-items-center">
                        <strong id="task-text">{{errorMessage}}</strong>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-sm float-end">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}