{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload data (*.csv)</label>
                <input class="form-control" type="file" id="formFile" accept=".csv,.png">
            </div>
        </div>
        <div class="col-12">
            <div id="upload-status" class="alert collapse" data-bs-toggle="collapse" role="alert">
        </div>
</div>
<script>
    function setUploadSuccess(message){
        document.getElementById("upload-status").classList.add("alert-success");
        setUploadMessage(message);
    }

    function setUploadError(message){
        document.getElementById("upload-status").classList.add("alert-danger");
        setUploadMessage(message);
    }

    function setUploadMessage(message){
        const el = document.getElementById("upload-status");
        el.innerText = message;
        new bootstrap.Collapse(el, {
            toggle: true
        });
    }

    const input = document.getElementById('formFile');
    input.addEventListener('change', event => {

        let files = event.target.files
        let fileName = files[0].name

        const data = new FormData()
        data.append('file', files[0])
        data.append('name', fileName)
        console.log(data.get('files'))

        let url = "http://localhost:8080/api/binary";
        fetch(url,{
            method:"POST",
            body: data,
        }).then(function(response){
                return response.text();
        }).then(function(text){
            setUploadSuccess(text)
        }).catch(function (text){
            console.log('error');
            setUploadError(text)
        });

    })
</script>

{% endblock %}