{% extends 'base.html' %}

{% block content %}

<h2>Selected FIP</h2>
<p>The details of the current FIP are displayed below</p>

<table class="table table-striped mt-2">
    {% for fip in foundFips %}
    <tr>
        <td>FIP:</td>
        <td>{{ fip.fip_label.value }}</td>
    </tr>
    <tr>
        <td>Cedar template:</td>
        <td>{{ fip.cedar_template.value }}</td>
    </tr>
    <tr>
        <td>SHACL template:</td>
        <td>{{ fip.shacl_location.value }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/metadata" class="btn btn-primary float-right">Next</a>

{% endblock %}