{% extends "base.html" %}
{% block content %}
<h1>Instance details</h1>
	
	<table id="previewTable" class="table table-striped mt-2"></table>
	
	<script>
		var tableId = "previewTable"
		var myTableContents = [
			{"col_1":"val_11", "col_2":"val_12", "col_3":"val_13"},
			{"col_1":"val_21", "col_2":"val_22", "col_3":"val_23"},
			{"col_1":"val_31", "col_2":"val_32", "col_3":"val_33"}
		];
        myTableContents = JSON.parse('{{ previewTable | tojson | safe }}');
		
		function render_table(elementId, tableContents) {
			var cols = [];
			
			for (var i = 0; i < tableContents.length; i++) {
				for (var k in tableContents[i]) {
					if (cols.indexOf(k) === -1) {
						
						// Push all keys to the array
						cols.push(k);
					}
				}
			}
			
			// Create a table element
			var table = document.createElement("table");
			
			// Create table row tr element of a table
			var tr = table.insertRow(-1);
			
			for (var i = 0; i < cols.length; i++) {
				
				// Create the table header th element
				var theader = document.createElement("th");
				theader.innerHTML = cols[i];
				
				// Append columnName to the table row
				tr.appendChild(theader);
			}
			
			// Adding the data to the table
			for (var i = 0; i < tableContents.length; i++) {
				
				// Create a new row
				trow = table.insertRow(-1);
				for (var j = 0; j < cols.length; j++) {
					var cell = trow.insertCell(-1);
					
					// Inserting the cell at particular place
					cell.innerHTML = tableContents[i][cols[j]];
				}
			}
			
			// Add the newly created table containing json data, but clear contents first
			var el = document.getElementById(elementId);
			el.innerHTML = "";
			el.appendChild(table);
		}

        render_table(tableId, myTableContents);
	</script>

{% endblock %}