{% extends "base.html" %}
{% block content %}
<h1>Instance details</h1>
	
	<table id="previewTable" class="table table-striped mt-2"></table>
	
	<script>
		var tableId = "previewTable"
		var myTableContents = [
			{"col_1":"val_11", "col_2":"val_12", "col_3":"val_13"},
			{"col_1":"val_21", "col_2":"val_22", "col_3":"val_23"},
			{"col_1":"val_31", "col_2":"val_32", "col_3":"val_33"}
		];
        myTableContents = JSON.parse('{{ previewTable | tojson | safe }}');

		foundShapes = JSON.parse('{{ foundShapes | tojson | safe }}');
		window.console.log(foundShapes)

		function use_property_of_shape(longName, keyForValue='targetClass_short') {
			for (var i in foundShapes) {
				shape = foundShapes[i]
				if (shape['columnName']==longName) {
					return shape[keyForValue]
				}
			}
			return ""
		}
		
		function render_table(elementId, tableContents) {
			var cols = ["row"];
			
			// for (var i = 0; i < tableContents.length; i++) {
			// 	for (var k in tableContents[i]) {
			// 		if (cols.indexOf(k) === -1) {
			// 			if (!k.includes("_class")) {
			// 				// Push all keys to the array
			// 				cols.push(k);
			// 			}
			// 		}
			// 	}
			// }

			for (var i in foundShapes) {
				cols.push(foundShapes[i]["columnName"])
			}
			
			// Create a table element
			var table = document.createElement("table");
			
			// Create table row tr element of a table
			var tr = table.insertRow(-1);
			
			for (var i = 0; i < cols.length; i++) {
				
				// Create the table header th element
				var theader = document.createElement("th");

				if (use_property_of_shape(cols[i])=="") {
					theader.innerHTML = cols[i];
				} else {
					link = document.createElement("a");
					link.innerHTML = use_property_of_shape(cols[i]);
					link.href = use_property_of_shape(cols[i], 'targetClass');
					link.target = "_new";
					link.title = use_property_of_shape(cols[i], 'targetClassLabel');
					theader.appendChild(link)
				}
				
				// Append columnName to the table row
				tr.appendChild(theader);
			}
			
			// Adding the data to the table
			for (var i = 0; i < tableContents.length; i++) {
				
				// Create a new row
				trow = table.insertRow(-1);
				for (var j = 0; j < cols.length; j++) {
					var cell = trow.insertCell(-1);
					
					// Inserting the cell at particular place					
					colName = cols[j] + "_classShort"
					colUri = cols[j] + "_class"
					colUriLabel = cols[j] + "_classLabel"

					if (tableContents[i][colName]>"") {
						link = document.createElement("a")
						link.innerHTML = tableContents[i][colName];
						link.href = tableContents[i][colUri];
						link.target = "_new";
						link.title = tableContents[i][colUriLabel];
						cell.appendChild(link)
					} else {
						cell.innerHTML = tableContents[i][cols[j]];
					}
				}
			}
			
			// Add the newly created table containing json data, but clear contents first
			var el = document.getElementById(elementId);
			el.innerHTML = "";
			el.appendChild(table);
		}

        render_table(tableId, myTableContents);
	</script>

{% endblock %}