{% extends "base.html" %}
{% block content %}
<h1>Instance details</h1>
	<!-- <input type="checkbox" onchange="render_table(tableId, myTableContents);" id="standardizedTerms" checked>Standardized terminology</input></br> -->
	<!-- <input type="checkbox" onchange="render_table(tableId, myTableContents);" id="sourceData">Source columns</input></br> -->
	<label class="switch">
		<input type="checkbox" onchange="render_table(tableId, myTableContents);" id="standardizedTerms" checked/>
		<span class="slider round"></span>
	</label> Standardized terminology<br/>
	<label class="switch">
		<input type="checkbox" onchange="render_table(tableId, myTableContents);" id="sourceData"/>
		<span class="slider round"></span>
	  </label> Source data

	<div class="container-fluid"><a href="javascript:void(0)" onclick="download_table_as_csv('previewTable');" role="button" class="btn btn-primary float-end mb-1">Download</a></div>
	<table id="previewTable" class="table table-striped mt-2"></table>
	<script>
		// Quick and simple export target #table_id into a csv
		function download_table_as_csv(table_id, separator = ',') {
			// Select rows from table_id
			var rows = document.querySelectorAll('table#' + table_id + ' tr');
			// Construct csv
			var csv = [];
			for (var i = 0; i < rows.length; i++) {
				var row = [], cols = rows[i].querySelectorAll('td, th');
				for (var j = 0; j < cols.length; j++) {
					// Clean innertext to remove multiple spaces and jumpline (break csv)
					var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
					// Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
					data = data.replace(/"/g, '""');
					// Push escaped string
					row.push('"' + data + '"');
				}
				csv.push(row.join(separator));
			}
			var csv_string = csv.join('\n');
			// Download it
			var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
			var link = document.createElement('a');
			link.style.display = 'none';
			link.setAttribute('target', '_blank');
			link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
			link.setAttribute('download', filename);
			document.body.appendChild(link);
			link.click();
			document.body.removeChild(link);
		}
	</script>
	<script>
		var tableId = "previewTable"
        myTableContents = JSON.parse('{{ previewTable | tojson | safe }}');

		foundShapes = JSON.parse('{{ foundShapes | tojson | safe }}');
		
		function showStandardizedTerms() {
			return document.getElementById("standardizedTerms").checked
		}

		function showSourceData() {
			return document.getElementById("sourceData").checked
		}

		function use_property_of_shape(longName, keyForValue='targetClass_short') {
			for (var i in foundShapes) {
				shape = foundShapes[i]
				if (shape['columnName']==longName) {
					return shape[keyForValue]
				}
			}
			return ""
		}
		
		function render_table(elementId, tableContents) {
			var cols = ["row"];
			
			// for (var i = 0; i < tableContents.length; i++) {
			// 	for (var k in tableContents[i]) {
			// 		if (cols.indexOf(k) === -1) {
			// 			if (!k.includes("_class")) {
			// 				// Push all keys to the array
			// 				cols.push(k);
			// 			}
			// 		}
			// 	}
			// }

			for (var i in foundShapes) {
				cols.push(foundShapes[i]["columnName"])
			}
			
			// Create a table element
			var table = document.createElement("table");
			
			// Create table row tr element of a table
			var tr = table.insertRow(-1);
			
			for (var i = 0; i < cols.length; i++) {

				// if show standardized terms, attempt to create a link, otherwise add raw data
				if (showStandardizedTerms() && (cols[i] != 'row')) {
					var theader = document.createElement("th");
					if (use_property_of_shape(cols[i])=="") {
						theader.innerHTML = cols[i];
					} else {
						link = document.createElement("a");
						link.innerHTML = use_property_of_shape(cols[i]);
						link.href = use_property_of_shape(cols[i], 'targetClass');
						link.target = "_new";
						link.title = use_property_of_shape(cols[i], 'targetClassLabel');
						theader.appendChild(link)
					}
					tr.appendChild(theader);
				}

				// If show source data, create th element and directly add raw string
				if (showSourceData() || (cols[i] == 'row')) {
					var theader = document.createElement("th");
					theader.innerHTML = cols[i];
					tr.appendChild(theader);
				}
				
			}
			
			// Adding the data to the table
			for (var i = 0; i < tableContents.length; i++) {
				
				// Create a new row
				trow = table.insertRow(-1);
				for (var j = 0; j < cols.length; j++) {
					
					// Inserting the cell at particular place					
					colName = cols[j] + "_classShort"
					colUri = cols[j] + "_class"
					colUriLabel = cols[j] + "_classLabel"

					// if show standardized data, put a link in there if available
					if (showStandardizedTerms() && (cols[j] != 'row')) {
						var cell = trow.insertCell(-1);

						if (tableContents[i][colName]>"") {
							link = document.createElement("a")
							link.innerHTML = tableContents[i][colName];
							link.href = tableContents[i][colUri];
							link.target = "_new";
							link.title = tableContents[i][colUriLabel];
							cell.appendChild(link)
						} else {
							cell.innerHTML = tableContents[i][cols[j]];
						}

						// Add the newly created table containing json data, but clear contents first
						var el = document.getElementById(elementId);
						el.innerHTML = "";
						el.appendChild(table);
					}

					// if show source data, just put the raw value in the cell
					if (showSourceData() || (cols[j] == 'row')) {
						var cell = trow.insertCell(-1);
						cell.innerHTML = tableContents[i][cols[j]];

						// Add the newly created table containing json data, but clear contents first
						var el = document.getElementById(elementId);
						el.innerHTML = "";
						el.appendChild(table);
					}
				}
			}
		}

        render_table(tableId, myTableContents);
	</script>

{% endblock %}