{% extends 'base.html' %}

{% block content %}

<h1>Filled Templates</h1>
<p>Please see below for all filled templates, or press the "add" button to fill in the template.</p>
<div class="container-fluid"><a href="./add" role="button" class="btn btn-primary float-right mb-1">Add</a></div>
<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        {%for instance in instances %}
        <tr>
            <td><a href="./instance?uri={{instance['instance']['value']}}">{{instance["instance"]["short"]}}</a></td>
            <td>{{instance["time"]["value"]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}