@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$primary: #6baf8d;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

@import "bootstrap/bootstrap";

.table-responsive {
    max-height:300px;
}

.table-responsive {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #6baf8d;
    --sb-size: 7px;
  }
  
  .table-responsive::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size)
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 13px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 13px;
  }
